body {
	font-family: 'Cabin', sans-serif;
	color: #636363;
  }

.header h1 {
	margin: 0 0 2em 0;
	text-align: center;
}

.header p {
	text-align: left;
}

  .content {
	max-width: 575px;
	margin: 0 auto;
	padding: 3em 0 0 0;
	line-height: 1.5;
  }
  
  .content p {
	margin: 0 0 2em 0;
  }
  
  .content ul {
	margin: 0 0 2em 0;
	padding: 0 0 0 0;
	list-style-type: none;
	text-align: center;
  }
  
  .page {
	margin: 0 0 6em 0;
  }
  
  .page a {
	color: #999a9a;
	text-decoration: none;
  }
  
  .page.clients a:hover {
   color: #eb3f42;
  }
  
  .page h3 {
	text-align: center;
	margin: 0 0 0 0;
	padding: 4px 0;
	color: white;
	font-weight: normal;
  }
  
  .page .header {
	width: 100%;
	height: 300px;
	background-image: url('');
	background-position: center;
	background-size: cover;
	-webkit-filter: grayscale(1);
  }
  
  .page .header:hover {
	-webkit-filter: grayscale(0);
  }
  
  .page.clients .header {
	background-image: url('Pics/retro-futuristic-synthwave-retrowave-styled-night-cityscape-with-sunset-background_148087-120.jpg');
  }

  header.top {
	font-family: 'Lobster', cursive;
	text-align: center;
	margin: 0 0 3.375em 0;
	color: black;
  }
  
  header.top img {
	width: 80px;
	height: auto;
  }
  
  header.top h1 {
	font-size: 36px;
	margin: -10px 0 0 0;
  }
  
  header.top h2 {
	font-size: 12px;
	margin: -5px 0 0 0;
  }


  .col-onehalf {
	width: 48%;
	float: left;
  }
  
  .col-onehalf.last {
	float: right;
  }
  
  .col-full {
	width: 100%;
	clear: both;
  }

  .footer h2 {
	text-align: center;
	
  }