body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
  }

  .header {
	padding: 80px;
	text-align: center;
	background: #14274e;
	color: white;
  }

  .header h1 {
	font-size: 40px;
  }

.main {   
	-ms-flex: 70%; /* IE10 */
	flex: 70%;
	background-color: #394867;
	padding: 20px;
  }

  .side {
	-ms-flex: 30%; /* IE10 */
	flex: 30%;
	background-color: #f1f1f1;
	padding: 20px;
  }

.footer {
	padding: 20px;
	text-align: center;
	background: #9ba4b4;
  }
  